h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="meals") weekly meals
  span  &raquo; 
h1(data-ng-bind="mealsadmin.title")
hr
.columns
  .col.half
    calendar(selected="mealsadmin.mealDate")
    h4 Meal Preview
    p Calendar View
    p Modal View
    a.btn Preview All Meals
  .col.half.meal-preview
    .message.subtle.center(data-ng-hide="mealsadmin.mealDate")
      span.block Please choose a date from the calendar in order to add/update a meal.
    form(data-ng-show="mealsadmin.mealDate", data-ng-submit="mealsadmin.addMeal()")
      label Meal Date:
      input(type="text", name="mealDate", placeholder="Date", data-ng-model="mealsadmin.mealDate")
      label Meal Image:
      input(type="text", name="imageMainSrc", placeholder="Image", data-ng-model="mealsadmin.image.main.src")
      label Entree:
      input(type="text", name="entreeTitle", placeholder="Title", data-ng-model="mealsadmin.entree.title")
      label Published:
      input(type="text", name="published", placeholder="Published", data-ng-model="mealsadmin.published")
      input.btn(type="submit", value="Add/Update Meal")