h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="posts") posts
  span  &raquo; 
h1(data-ng-bind="createpost.title")
form
  label Post Title:
  input(type="text", placeholder="Title", data-ng-model="createpost.postTitle")
  label Post Content:
  textarea(data-ng-model="createpost.postContent")
a(data-ng-click="createpost.addPost()") Create Post