.calendar
  .calendar-head
    a(data-ng-click="previous()")
      i.icon.icon-dd-caret-left
    span(data-ng-bind="month.format('MMMM, YYYY')")
    a(data-ng-click="next()")
      i.icon.icon-dd-caret-right
  .calendar-body
    .week.names
      .day Sun
      .day Mon
      .day Tue
      .day Wed
      .day Thu
      .day Fri
      .day Sat
    .week(data-ng-repeat="week in weeks")
      span.day(data-ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }", data-ng-click="select(day)", data-ng-repeat="day in week.days", data-ng-bind="day.number")