.footer
  .wrapper
    .pull-right
      a(scroll-to="header")
        i.icon.icon-circle-up.mgn-right-8
        | Scroll To Top
    p &copy; 
      span(data-ng-bind="main.date | date:'yyyy'")
      |  The Dinner Debate