input.inline.pull-right.mgn-top-0(type="text", data-ng-model="searchQuery", placeholder="Search")
a.btn.pull-right.mgn-right-16(data-ui-sref="recipes.create") Create New Recipe
h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
h1(data-ng-bind="recipes.title")
.secondary
  //- a.text-small.pull-right(data-ng-click="recipes.toggleAll()") 
  //-   span(data-ng-if="recipes.selectedCategories.length") Deselect All
  //-   span(data-ng-if="!recipes.selectedCategories.length") Select All
  h2.mgn-top-0 Categories
  ul.list.filters
    li
      a(data-ng-click="recipes.selectedCategory()", data-ng-class="{active: recipes.category == ''}") All Recipes
    li(data-ng-repeat="category in recipes.categoryOptions")
      a(data-ng-bind="category", data-ng-click="recipes.selectedCategory(category)", data-ng-class="{active: category == recipes.category}")
.main
  .error(data-ng-if="recipes.noCategoryMessage")
    a.close.pull-right.text-small(data-ng-click="recipes.dismiss()") Close
    span(data-ng-bind="recipes.noCategoryMessage")
  .headline-container
    .sort.pull-right.text-small.text-muted
      span View by: 
      a(data-ng-click="recipes.changeCriteria('date')", data-ng-class="{active: recipes.orderCriteria == 'date'}") Newest
      span  | 
      a(data-ng-click="recipes.changeCriteria('name')", data-ng-class="{active: recipes.orderCriteria == 'name'}") Alphabetical
    h2.mgn-top-0(data-ng-show="recipes.category && recipes.category != ''", data-ng-bind="recipes.category")
    h2.mgn-top-0(data-ng-show="recipes.category == ''") All Recipes
  table.full-table(cellpadding="0", cellspacing="0")
    thead
      tr
        th Name
        th Prep Time
        th Cook Time
        th Servings
      tr(data-ng-repeat="recipe in recipes.recipes | filter: searchQuery | filter: recipes.category | orderBy: recipes.orderCriteria")
        td.title
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-bind="recipe.name")
        td
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.prepTime")
            strong(data-ng-bind="recipe.prepTime")
            span Minutes
        td
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.cookTime")
            strong(data-ng-bind="recipe.cookTime")
            span Minutes
        td
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.servings")
            strong(data-ng-bind="recipe.servings")
            span Servings