a.btn.pull-right(data-ui-sref="recipes.create") 
  i.icon.icon-plus.helper-text.mgn-right-8
  span Create New Recipe
h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
h1(data-ng-bind="recipes.title")
.view-options.sort.mgn-btm-16(data-ng-class="{secondary : recipes.view == 'list'}")
  h2.mgn-top-0 Sort/Filter
  .columns
    div(data-ng-class="{'col thirds' : recipes.view == 'thumb'}")
      .text-small.text-muted.xs-hide(data-ng-show="recipes.view == 'thumb'")
        span Search recipes:
      .searchbox
        i.icon.icon-search
        input(type="text", data-ng-model="searchQuery", placeholder="Search")
      p.text-small.text-muted.clear
        span Sort by: 
        a(data-ng-click="recipes.changeCriteria('-date')", data-ng-class="{active: recipes.orderCriteria == '-date'}") Newest
        span  | 
        a(data-ng-click="recipes.changeCriteria('name')", data-ng-class="{active: recipes.orderCriteria == 'name'}") Alphabetical
    div(data-ng-class="{'col thirds' : recipes.view == 'thumb'}")
      .text-small.text-muted(data-ng-show="recipes.view == 'thumb'")
        span Filter by category: 
        select(ng-options="category as category for category in recipes.categoryOptions", ng-model="recipes.category", ng-change="recipes.selectedCategory(recipes.category)")
          option(value="") All Recipes
      p.text-small.text-muted
        span View as: 
        a(data-ng-click="recipes.changeView('thumb')", data-ng-class="{active: recipes.view == 'thumb'}") Thumbnails
        span  | 
        a(data-ng-click="recipes.changeView('list')", data-ng-class="{active: recipes.view == 'list'}") List
    div(data-ng-class="{'col thirds' : recipes.view == 'thumb'}")
      .text-small.text-muted
        span Items per page: 
        select(data-ng-options="item as item for item in recipes.numItemsOptions track by item", data-ng-model="recipes.numItems", data-ng-change="recipes.changeNumItems(recipes.numItems)")
      label.with-checkbox.text-small.text-muted.mgn-btm-16(data-ng-show="recipes.view == 'thumb'")
        input(type="checkbox", data-ng-model="recipes.showWithThumbsOnly", data-ng-change="recipes.changeImagesOnlyOption()")
        i.icon(data-ng-class="{'icon-checkbox-checked': recipes.showWithThumbsOnly, 'icon-checkbox-unchecked': !recipes.showWithThumbsOnly}").mgn-right-8
        | Only show recipes with an image
  .xs-hide(data-ng-hide="recipes.view == 'thumb'")
    h2 Categories
    ul.list.filters
      li
        a(data-ng-click="recipes.selectedCategory()", data-ng-class="{active: recipes.category == ''}") All Recipes
      li(data-ng-repeat="category in recipes.categoryOptions")
        a(data-ng-bind="category", data-ng-click="recipes.selectedCategory(category)", data-ng-class="{active: category == recipes.category}")
div(data-ng-class="{main: recipes.view == 'list'}")
  .error(data-ng-if="recipes.noCategoryMessage")
    a.close.pull-right.text-small.mgn-left-8(data-ng-click="recipes.dismiss(0)")
      i.icon.icon-cross
    span(data-ng-bind="recipes.noCategoryMessage")
  .error(data-ng-if="recipes.querystring.message")
    a.close.pull-right.text-small.mgn-left-8(data-ng-click="recipes.dismiss(1)")
      i.icon.icon-cross
    span(data-ng-bind="recipes.querystring.message")
  h2.mgn-top-0(data-ng-show="recipes.category && recipes.category != ''", data-ng-bind="recipes.category")
  h2.mgn-top-0(data-ng-show="recipes.category == ''") All Recipes
  p(data-ng-hide="filteredCount.length >= 1 || recipes.isLoading").message 
    | No results found 
    span(data-ng-if="searchQuery") for 
      em(data-ng-bind="searchQuery")
    span(data-ng-if="recipes.category")  within 
      em(data-ng-bind="recipes.category")
    | . 
    span(data-ng-if="recipes.category") Try expanding your search to 
      a(data-ng-click="recipes.selectedCategory()") 
        strong All Recipes
      | .
  .loading(data-ng-show="recipes.isLoading")
    span
      i.icon-spinner9.rotate
    p [ loading ]
  ul.thumbs.clear(data-ng-show="recipes.view == 'thumb' && recipes.showWithThumbsOnly")
    li(dir-paginate="recipe in recipes.recipes | removeNonMatchedKeyValues: 'thumb':null | filter: searchQuery | filter: {category:recipes.category} | orderBy: recipes.orderCriteria | itemsPerPage: recipes.numItems as filteredCount", current-page="recipes.currentPage", pagination-id="thumbs-only").thumb
      a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})")
        img(data-ng-src="{{ recipe.thumb }}")
        span(data-ng-bind="recipe.name")
  dir-pagination-controls.clear(pagination-id="thumbs-only", data-ng-show="recipes.view == 'thumb' && recipes.showWithThumbsOnly")
  ul.thumbs.clear(data-ng-show="recipes.view == 'thumb' && !recipes.showWithThumbsOnly")
    li(dir-paginate="recipe in recipes.recipes | filter: searchQuery | filter: {category:recipes.category} | orderBy: recipes.orderCriteria | itemsPerPage: recipes.numItems as filteredCount", current-page="recipes.currentPage", pagination-id="all-thumbs").thumb
      a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})")
        img(data-ng-show="recipe.thumb", data-ng-src="{{ recipe.thumb }}")
        img(data-ng-hide="recipe.thumb", src="/img/logo-grayscale-300.png")
        span(data-ng-bind="recipe.name")
  dir-pagination-controls.clear(pagination-id="all-thumbs", data-ng-show="recipes.view == 'thumb' && !recipes.showWithThumbsOnly")
  table.full-table.clear(cellpadding="0", cellspacing="0", data-ng-show="recipes.view == 'list' && filteredCount.length >= 1")
    thead
      tr
        th Name
        th.sm-hide Prep Time
        th.sm-hide Cook Time
        th.sm-hide Servings
    tbody
      tr(dir-paginate="recipe in recipes.recipes | filter: searchQuery | filter: {category:recipes.category} | orderBy: recipes.orderCriteria | itemsPerPage: recipes.numItems as filteredCount", current-page="recipes.currentPage", pagination-id="list-view")
        td.title
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-bind="recipe.name")
        td.sm-hide
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.prepTime")
            strong(data-ng-bind="recipe.prepTime")
            span Minutes
        td.sm-hide
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.cookTime")
            strong(data-ng-bind="recipe.cookTime")
            span Minutes
        td.sm-hide
          a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.servings")
            strong(data-ng-bind="recipe.servings")
            span Servings
  dir-pagination-controls.clear(pagination-id="list-view", boundary-links="true", data-ng-show="recipes.view == 'list'")
