h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
h1(data-ng-bind="meals.title")
hr
calendar(selected="meals.day", data="meals.items")
//- modal(show="meals.modalShown")
//-   h2.modal-title(data-ng-bind="mealDescription")
//-   p Lorem ipsum dolor sit amet...