h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="recipes") recipes
  span  &raquo; 
  a(data-ui-sref="recipes.categories({categoryName: viewrecipe.categoryKey})", data-ng-bind="viewrecipe.recipeDetail.category | lowercase")
  span  &raquo;
h1(data-ng-bind="viewrecipe.recipeDetail.name")
.recipe
  .details(data-ng-class="{ 'full': !viewrecipe.recipeDetail.image }")
    .info
      p.timestamp Added on 
        span(data-ng-bind="viewrecipe.recipeDetail.date | date:'MM/dd/yyyy'")
      p.source(data-ng-if="viewrecipe.recipeDetail.source") Recipe by 
        a(data-ng-show="viewrecipe.recipeDetail.sourceURL", href="{{viewrecipe.recipeDetail.sourceURL}}", target="_blank", data-ng-bind="viewrecipe.recipeDetail.source")
        em(data-ng-hide="viewrecipe.recipeDetail.sourceURL", data-ng-bind="viewrecipe.recipeDetail.source")
      p.source(data-ng-if="viewrecipe.recipeDetail.sourceURL && !viewrecipe.recipeDetail.source") Recipe by 
        a(data-ng-show="viewrecipe.recipeDetail.sourceURL", href="{{viewrecipe.recipeDetail.sourceURL}}", target="_blank", data-ng-bind="viewrecipe.recipeDetail.sourceURL")
      p.source(data-ng-if="viewrecipe.recipeDetail.addedBy.fullName")
        span(data-ng-if="viewrecipe.recipeDetail.source") Added by 
        span(data-ng-if="!viewrecipe.recipeDetail.source") Recipe by 
        em(data-ng-bind="viewrecipe.recipeDetail.addedBy.fullName")
    table.full-table(cellpadding="0", cellspacing="0")
      thead
        tr
          th(data-ng-if="viewrecipe.recipeDetail.prepTime") Prep Time
          th(data-ng-if="viewrecipe.recipeDetail.cookTime") Cook Time
          th(data-ng-if="viewrecipe.recipeDetail.servings") Servings
        tr
          td(data-ng-if="viewrecipe.recipeDetail.prepTime")
            a
              strong(data-ng-bind="viewrecipe.recipeDetail.prepTime")
              span Minutes
          td(data-ng-if="viewrecipe.recipeDetail.cookTime")
            a
              strong(data-ng-bind="viewrecipe.recipeDetail.cookTime")
              span Minutes
          td(data-ng-if="viewrecipe.recipeDetail.servings")
            a
              strong(data-ng-bind="viewrecipe.recipeDetail.servings")
              span Servings
    p.multiline(data-ng-if="viewrecipe.recipeDetail.description")
      em(data-ng-bind="viewrecipe.recipeDetail.description")
    .columns
      div(data-ng-repeat="ingredientList in viewrecipe.recipeDetail.ingredients", data-ng-class="{ 'col half': !viewrecipe.recipeDetail.image && viewrecipe.recipeDetail.ingredients.length > 1 }")
        div(data-ng-if="ingredientList.list.length")
          h2(data-ng-hide="ingredientList.title") Ingredients:
          h2(data-ng-show="ingredientList.title", data-ng-bind="ingredientList.title + ':'")
          ul.ingredients.list
            li(data-ng-repeat="ingredient in ingredientList.list", data-ng-bind="ingredient")
    div(data-ng-if="viewrecipe.recipeDetail.directions")
      h2 Directions:
      p.multiline(data-ng-bind="viewrecipe.recipeDetail.directions")
      hr
    div(data-ng-if="viewrecipe.recipeDetail.pairings.length")
      label Recipe Pairings:
      p(data-ng-bind="viewrecipe.recipeDetail.pairings")
    .pills(data-ng-if="viewrecipe.recipeDetail.tags.length")
      label.pill-label Tags:
      span.pill(data-ng-repeat="tag in viewrecipe.recipeDetail.tags", data-ng-bind="tag")
  .media(data-ng-if="viewrecipe.recipeDetail.image")
    img(data-ng-src="{{viewrecipe.recipeDetail.image}}")
a.btn(if-user-in-group="'Admin'", data-ui-sref="recipes.edit({categoryKey: viewrecipe.categoryKey, recipeName: viewrecipe.recipeName})") Edit Recipe
a.btn(if-user-not-in-group="'Admin'", data-ng-if="viewrecipe.username == viewrecipe.recipeDetail.addedBy.username" data-ui-sref="recipes.edit({categoryKey: viewrecipe.categoryKey, recipeName: viewrecipe.recipeName})") Edit My Recipe