// Calendar Directive Styling
.calendar
  border 1px solid $border-color-lighten
  background #fff
  border-radius(4px)
  box-shadow(0 2px 2px rgba(0,0,0,0.05))
  .calendar-head
  .calendar-body
    display block
    width 100%
  .calendar-head
    background $background-lighten
    text-align center
    line-height 42px
    border-bottom 1px solid $border-color-lighten
    margin-bottom 5px
    box-sizing(border-box)
    border-radius(4px 4px 0 0)
    a
      float left
      padding 0 16px
      border-right 1px solid $border-color-lighten
      line-height 44px
      text-decoration none
      &:last-child
        float right
        border-right none
        border-left 1px solid $border-color-lighten
      &:hover
        background #fff
        color $primary-color
    span
      font-size 21px
      text-transform uppercase
      font-weight 300
      color $primary-color
  .week
    display-flex()
    padding 0 5px 5px 5px
    .day
      flex(0 1 32%)
      border 1px solid $border-color
      background #fff
      box-sizing(border-box)
      border-radius(2px)
      padding 6px 0
      margin 0 2px
      color $copy-lighten
      &:first-child
        margin-left 10px
        display none
      &:last-child
        margin-right 10px
        display none
      &.different-month
        border-color $border-color-lighten
        color $subtle
        background none
      > a
        padding 10px 12px
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        box-sizing(border-box)
        display-flex()
        align-items center
        justify-content center
        text-decoration none
        span.btn
          display none
        &:hover
          span.btn
            display inline-block
      .date
        padding 6px
        font-size 24px
        font-weight 300
        line-height 1em
      &:hover
        background $background-lighten
        color $secondary-color
        border-color $primary-color
        cursor pointer
      &.selected
        background $secondary-color
        border-color $secondary-color
        color #fff
        cursor default
    &.names
      text-align center
      .day
        color $secondary-color
        min-height auto
        line-height 24px
        background $background-lighten
        border-color $border-color-lighten
        &:hover
          background $background-lighten
          color $secondary-color
          border-color $border-color-lighten
          cursor default
