input
textarea
select
  &.ng-touched.ng-invalid
    border 1px solid $error-color
  &.btn
    &[disabled]
      background-color $secondary-lighten
      &:hover
        background-color $secondary-lighten
        cursor not-allowed