body
  background $body-bg
  color $copy-color
  margin 0
  padding 0
  font-family Lato, Arial, Helvetica, sans-serif
a
  color $main-link
  text-decoration none
  &:hover
    color $main-link-hover
    text-decoration underline
  &[data-ng-click]
    cursor pointer
h1
h2
h3
h4
  text-transform uppercase
  margin 0 0 16px 0
  padding-bottom 4px
  font-size 21px
  font-weight 300
h2
h3
h4
  font-size 18px
  border-bottom 1px solid $border-color
  margin-top 32px
  color $secondary-color
h3
h4
  border-bottom none
  font-weight 400
  margin-top 0
  margin-bottom 8px
  color $copy-color
h4
  font-size 17px
  font-weight 300
  margin 24px 0 0 0
  color $secondary-color
h6
  color #bbb
  margin 12px 0 0 0
  font-size 12px
  font-weight 400
h6 + h1
  margin-top 0
hr
  border none
  border-top 1px solid $border-color
  margin 20px 0
  padding 0
img
  width auto
  max-width 100% !important
  display block
label
input
  display block
input
textarea
select
  -webkit-appearance none
  width 100%
  box-sizing(border-box)
  background #fff
  border 1px solid $border-color
  box-shadow(0 2px 2px rgba(0,0,0,0.05))
  margin 4px 0 16px 0
  padding 8px
  border-radius(4px)
  font-family Lato, Arial, Helvetica, sans-serif
  font-size 14px
  color $copy-color
input[type="checkbox"]
  float left
  width auto
  margin 4px 8px 4px 0
textarea
  height 100px
select
  width auto
  min-width 240px
p
  margin-top 0
button
  border none
  font-size inherit
  font-family inherit
  &:hover
    cursor pointer
.clear
  clear both
.multiline
  white-space pre-wrap
.inline
  display inline-block
  width auto
.block
  display block
  width auto
.headline-container
  position relative
.wrapper
  width 100%
  max-width 1400px
  margin 0 auto
  padding 16px
  box-sizing(border-box)
.main-content
  background $body-bg
  &:after
    content ''
    display block
    clear both
.main
  float right
  width 70%
.secondary
  float left
  width 27%
.columns
  &:after
    content ''
    display block
    clear both
  .col
    &.half
      width 48%
      float left
      &:nth-child(even)
        float right
    &.thirds
      width 30%
      float left
      margin-right 5%
  .col.thirds:nth-child(3n)
    margin 0
  .col.thirds:nth-child(3n+1)
  .col.half:nth-child(odd)
    clear both 
.pull-right
  float right
.pull-left
  float left
.text-muted
  color $copy-lighten
.text-small
  font-size 12px
.btn
  display inline-block
  background $main-link
  border-radius(4px)
  color #fff
  line-height 1em
  margin-bottom 16px
  padding 8px 16px 9px
  text-align center
  border none
  font-family Lato, Arial, Helvetica, sans-serif
  font-size 16px
  &:hover
    color #fff
    background $main-link-hover
    text-decoration none
    cursor pointer
  &.btn-subtle
    background rgba(255,255,255,0.7)
    color $main-link
    border 1px solid $border-color
    // box-shadow(0 2px 2px rgba(0,0,0,0.1))
    &:hover
      color $main-link-hover
      background #fff
  &.btn-empty
    background transparent
    color $main-link
    border 1px solid transparent
    &:hover
      color $main-link-hover
  &.active
    box-shadow(inset 0 2px 4px rgba(0,0,0,0.2))
    border-color $subtle
a.btn
  padding-top 9px
  padding-bottom 10px
.btn-panel
  .btn
    margin-right 16px
    &:last-child
      margin-right 0
    &.btn-uniform
      padding-top 0
      padding-bottom 0
      line-height 36px
      float left
      display block
  &:after
    content ''
    display block
    clear both
.pills
  margin-bottom 16px
  &:after
    content ''
    display block
    clear both
.pill-label
.pill
  line-height 1.1em
  padding 8px 12px
  background #fff
  color $secondary-color
  box-shadow(0 2px 2px rgba(0,0,0,0.03))
  margin 8px 16px 8px 0
  border-radius(4px)
  float left
  display block
.pill-label
  background transparent
  box-shadow(none)
  border-radius(0)
  padding 8px 0
  color $copy-color
.helper-text
  font-size 12px
.error
.message
  background $error-bg
  color $error-color
  padding 16px
  line-height 1.1em
  margin 0 0 16px 0
  display block
  border-radius(4px)
  &.inline
    display inline-block
  .close
    color $error-color
    &:hover
      cursor pointer
  &.center
    text-align center
.message
  background $info-bg
  color $info-color
  a
  .close
    color $info-color-link
  &.subtle
    background #fff
    border 1px solid $border-color
    box-shadow(0 2px 2px rgba(0, 0, 0, 0.05))
    color $copy-lighten
ul.list
  list-style none
  margin 16px 0
  padding 0
  border-top 1px solid $border-color-lighten
  li
    display block
    padding 6px 0
    margin 0
    border-bottom 1px solid $border-color-lighten
.progress
  background $border-color
  border-radius(4px)
  height 8px
  display block
  position relative
  margin 24px 0 16px 0
  text-align left
  > span
    height 8px
    border-radius(4px)
    background $secondary-color
    display block
    transition(width 0.2s ease)
  p
    position absolute
    bottom 12px
    left 0
    margin 0
    font-size 12px
    width 100%
    strong
      float right
      color $secondary-color
.upload-preview
  background #fff
  border 1px solid $border-color
  border-radius(4px)
  box-shadow 0 2px 2px rgba(0, 0, 0, 0.05)
  margin-top 4px
  padding 6px
  box-sizing(border-box)
.tooltip
  position relative
  span
    display none
    font-size 12px
    position absolute
    bottom 18px
    left -12px
    background #fff
    border-radius(4px)
    border 1px solid $border-color
    padding 6px 12px
    line-height 1.1em
    box-shadow(0 2px 2px rgba(0,0,0,0.1))
  &:hover
    cursor pointer
    span
      display block
.action-items
  float right
.mgn-top-16
  margin-top 16px
.mgn-btm-16
  margin-bottom 16px
.mgn-left-16
  margin-left 16px
.mgn-right-16
  margin-right 16px
.mgn-16
  margin 16px
.mgn-top-8
  margin-top 8px
.mgn-btm-8
  margin-bottom 8px
.mgn-left-8
  margin-left 8px
.mgn-right-8
  margin-right 8px
.mgn-8
  margin 8px
.mgn-top-0
  margin-top 0
.mgn-btm-0
  margin-bottom 0
.mgn-left-0
  margin-left 0
.mgn-right-0
  margin-right 0
.mgn-0
  margin 0
.loading
  text-align center
  font-size 14px
  color $subtle
  &.fixed
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(255,255,255,0.8)
    span
      position absolute
      top 50%
      left 50%
      margin-left -47px
      margin-top -20px
      em
        font-size 14px
        font-style normal
        margin 10px 0 0 0
        display block
  span
    font-size 36px
    padding 16px
    background #fff
    color $subtle
    display inline-block
    color $subtle
    border-radius(4px)
    border 1px solid $border-color
    box-shadow(0 2px 4px rgba(0, 0, 0, 0.1))
    margin-bottom 8px