.icon
  &.icon-reverse
    padding 4px
    border-radius(4px)
    color $body-bg
    background $secondary-color
    &.white
      color #fff
a
  .icon
    &.icon-reverse
      &.subtle
        background $subtle
      &:hover
        background $primary-color
        text-decoration none