ul.meal-list
  border none
  margin 8px 0 0 0
  li
    border none
    padding 2px 0 2px 80px
    position relative
    span
      font-size 10px
      text-transform uppercase
      color $copy-lighten
      min-width 50px
      display inline-block
      position absolute
      top 8px
      left 20px
      &.helper-text
        position static
    strong
      font-weight normal
    i
      color $subtle
      font-size small
      position absolute
      top 6px
      left 0
.image-container
  position relative
  a.btn
    position absolute
    bottom 8px
    right 8px
    padding 8px 12px
    margin 0