ul.meal-list
  border none
  margin 0
  &.meal-times
    margin-top 8px
  li
    border none
    padding 2px 0 2px 72px
    position relative
    span
      font-size 10px
      text-transform uppercase
      color $copy-lighten
      display inline-block
      position absolute
      top 5px
      left 20px
      &.helper-text
        position static
    strong
      font-weight normal
    i
      color $subtle
      font-size small
      position absolute
      top 4px
      left 0
.image-container
  position relative
  a.btn
    position absolute
    bottom 8px
    right 8px
    padding 8px 12px
    margin 0
.meal-details
  padding 4px 16px 16px 16px