.modal-overlay
  position fixed
  z-index 9999
  top 0
  left 0
  width 100%
  height 100%
  background rgba(255,255,255,0.95)

.modal-container
  z-index 10000
  position absolute
  width 50%
  max-width 658px
  top 30px
  left 50%
  transform translate(-50%, -50%)
  -webkit-transform translate(-50%, -50%)
  -moz-transform translate(-50%, 0)
  background-color #fff
  border 1px solid $border-color
  border-radius(4px)
  box-shadow(4px 4px 20px rgba(0, 0, 0, 0.03))
  margin-bottom 30px

.modal-content
  padding 16px
  text-align left
  .modal-title
    margin-top 0
    padding-right 26px
  .btn-panel
    .btn
      margin-bottom 0
  h2
    color $copy-color

.modal-close
  position absolute
  top 4px
  right 4px
  padding 12px
  font-size 14px
  cursor pointer
  display inline-block