@media all and (max-width : 768px)
  .header
    .logo
      margin-left -60px
      width 120px
      padding 0 16px
    .wrapper
      padding 0
  .navigation
    li
      a
        padding 21px 18px
        line-height 24px
        &.active
          padding-top 18px
  h2
    margin-top 21px
  .med-hide
    display none

@media all and (max-width : 700px)
  .thumbs
    .thumb
      flex(0 1 48%)
      margin 0 4% 24px 0
      &:nth-child(3n)
        margin 0 4% 24px 0
      &:nth-child(even)
        margin-right 0
@media all and (max-width : 630px)
  .navigation
    i
      margin-right 0
    span
      display none
  .sm-hide
    display none
  .columns
    .col
      &.half
        width auto
        display block
        float none
        &:nth-child(even)
          float none
        &.half-sm
          width 48%
          float left
          &:nth-child(even)
            float right
      &.thirds
        width auto
        display block
        float none
        margin-right 0
  .modal-container
    width 80%
  .hero
    padding 16px
    margin-bottom 16px
    h6
      margin-top 24px
    .btn
      display block
    button.btn
      width 100%
    .full-table
      margin-top 16px
    .progress
      display none
      
@media all and (max-width : 500px)
  .header
    .logo
      margin-left -50px
      width 100px
      padding 0 8px
  .main
  .secondary
    float none
    width auto
    display block
  .action-items
    float none
    display block
    margin 16px 0 0 0
    &.block-sm
      .btn
      .searchbox
        float none
        display block
        width auto
        margin-right 0
        input
          width 100%
          box-sizing(border-box)
      &:after
        content ''
        clear both
        display block
  .xs-hide
    display none
  .thumbs
    display block
    .thumb
      margin 0 auto 16px
      max-width 310px
      &:nth-child(even)
      &:nth-child(3n)
        margin-right auto
        margin-left auto
