@media all and (max-width : 1150px)
  .meals-calendar
    .week
      &.this-week
        .day
          h4
            display none
  .modal-container
    width 658px
  .hero
    &.feature
      > .col
        &:first-child
          padding 40px 24px 24px 24px
        h1
          font-size 26px
        img
          margin-top 0


@media all and (max-width : 1023px)
  .meals-calendar
    .week
      &.this-week
        .day
          ul.meal-list
            li
              padding-left 0
              .icon
                display none
              span
                position static
                display block
                &.helper-text
                  display inline
  .thumbs
    .thumb
      flex(0 1 32%)
      margin 0 2% 24px 0
      &:nth-child(4n)
        margin-right 2%
      &:nth-child(3n)
        margin-right 0


@media all and (max-width : 900px)
  .meals-calendar
    .week
      .day
        .title
        > a .icon
          display none
      &.this-week
        .day
          .image-container
          .meal-details
          > h3
            display none
          img
            border-radius(2px)
          .meal-preview
            display block
          a.meal-preview
            display flex
          &:hover
            > img
              filter blur(2px)
              transform scale(1.2)
  .hero
    &.feature
      > .col
        &.half
          width 55%
        &:first-child
          padding 24px
        &:nth-child(even)
          width 45%
          &:before
          &:after
            content ''
            position absolute
            top 0
            left 0
            width 0
            height 0
            border-right 140px solid transparent
            border-top 300px solid $primary-color
          &:before
            border-right-width 150px
            border-top-width 315px
            border-top-color #fff
        img
          height 300px
          max-width none !important
  .sub-feature
    padding 16px 0
    i.icon
      font-size 40px
    .content
      padding-left 0
      h1
        padding-left 60px
    h1
      margin-bottom 6px
  .banner
    padding 16px 16px 0 180px
    img
      width 140px
      margin-top -57px
      left 16px


@media all and (max-width : 768px)
  .header
    .logo
      margin-left -60px
      width 120px
      padding 0 16px
    .wrapper
      padding 0
  .navigation
    li
      a
        padding 21px 18px
        line-height 24px
        &.active
          padding-top 18px
  h2
    margin-top 21px
  .med-hide
    display none
  .hero
    .btn-with-tag
      margin-right 20px
      &nth-child(even)
        margin-right 0


@media all and (max-width : 700px)
  .thumbs
    .thumb
      flex(0 1 48%)
      margin 0 4% 24px 0
      &:nth-child(3n)
        margin 0 4% 24px 0
      &:nth-child(even)
        margin-right 0
  .modal
    .columns
      .col
        &.half
          width auto
          display block
          float none
          &:nth-child(even)
            float none
    .image-container
      max-width 300px
      margin 16px auto  
  .hero
    &.feature
      height auto
      overflow visible
      > .col
        &.half
          text-align center
          width auto
        &:first-child
          padding 26px 16px 14px 16px
        &:nth-child(even)
          display none
        img
          border-radius(0 4px 4px 0)
          margin-top -50px
      .btn-with-tag
        width 50%
        margin 0
        text-align center
  .sub-feature
    h1
      font-size 26px
    p
      font-size 16px

@media all and (max-width : 630px)
  .navigation
    i
      margin-right 0
    span
      display none
    li a i.icon-dd-place-setting
      float none
  .sm-hide
    display none
  .columns
    .col
      &.half
        width auto
        display block
        float none
        &:nth-child(even)
          float none
        &.half-sm
          width 48%
          float left
          &:nth-child(even)
            float right
      &.thirds
        width auto
        display block
        float none
        margin-right 0
  .modal-container
    width 80%
  .hero
    padding 16px
    margin-bottom 16px
    h6
      margin-top 24px
    .btn
      display block
    button.btn
      width 100%
    .full-table
      margin-top 16px
    .progress
      display none
    &.feature
      .btn-with-tag
        margin-bottom 10px
        .btn
          display inline-block
  .meals-calendar
    .week
      .day
        min-height 46px
        .date
          font-size 32px
          top 3px
  .banner
    padding 16px 16px 0 16px
    img
      display block
      position relative
      top auto
      left auto
      width 50%
      margin 0 auto 16px
    .btn
      display none

@media all and (max-width : 500px)
  .header
    .logo
      margin-left -50px
      width 100px
      padding 0 8px
  .main
  .secondary
    float none
    width auto
    display block
  .action-items
    float none
    display block
    margin 16px 0 0 0
    &.block-sm
      .btn
      .searchbox
        float none
        display block
        width auto
        margin-right 0
        input
          width 100%
          box-sizing(border-box)
      &:after
        content ''
        clear both
        display block
  .xs-hide
    display none
  .thumbs
    display block
    .thumb
      margin 0 auto 16px
      max-width 310px
      &:nth-child(even)
      &:nth-child(3n)
        margin-right auto
        margin-left auto
  .meals-calendar
    .meals-calendar-head
      a
        display none
    .week
      display none
      &.this-week
        display block
        .day
          margin 16px auto
          max-width 302px
  .hero
    &.feature
      margin-top 12px
      .btn-with-tag
        float none
        width auto
  .sub-feature
    .thumbs
      .thumb
        max-width none