.full-table
  width 100%
  margin-bottom 24px
  th
    font-size 16px
    color #999
    font-weight normal
    padding 8px 16px
    &:first-child
      text-align left
  tr
    &:nth-child(even)
      background #fff
      border-radius(4px)
    td
      padding 8px 16px
      border none
      text-align center
      span
        color #999
        display block
        font-size 9px
      a
        display block
        &:hover
          text-decoration none
      &.title
        width 60%
        line-height 36px
        text-align left