$body-bg              = #fafafa
$primary-color        = #421b52
$primary-darken       = #2f103b
$secondary-color      = #832a78
$secondary-lighten    = #b13fa3
$border-color         = #dddddd
$border-color-lighten = #eeeeee
$main-link            = $secondary-color
$main-link-hover      = $primary-color
$copy-color           = #555555
$copy-lighten         = #888888
$error-bg             = #f2dede
$error-color          = #a94442
$info-bg              = #d9edf7
$info-color           = #31708f
$info-color-link      = #174860
$disabled-state       = #cccccc
$subtle               = $disabled-state

$default-font-size    = 16px