h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
h1(data-ng-bind="dashboard.title")
hr
.hero
  .secondary
    .profile
      //- img(data-ng-if="user.customData.photoUrl", data-ng-src="{{user.customData.photoUrl}}" alt="user.fullName")
      img.default(data-ng-if="user.customData.photoUrl", src="/img/touch-icon.png" alt="Add a photo!")
    .btn.mgn-btm-0(data-ng-click="dashboard.addCustomData()") Add Profile Image
  .main
    .action-items
      a.btn.mgn-top-8(data-ui-sref="recipes.create") Create New Recipe
    h6(data-ng-if="user.fullName") Welcome!
    h1(data-ng-if="user.fullName", data-ng-bind="user.fullName")
    table.full-table(cellpadding="0", cellspacing="0")
      thead
        tr
          th(data-ng-if="dashboard.usersOwnRecipes.length") Own Recipes
          th(data-ng-if="dashboard.userAddedRecipes.length") Added Recipes
      tbody
        tr
          td(data-ng-if="dashboard.usersOwnRecipes.length")
            strong(data-ng-bind="dashboard.usersOwnRecipes.length")
          td(data-ng-if="dashboard.userAddedRecipes.length")
            strong(data-ng-bind="dashboard.userAddedRecipes.length")

.columns
  .col.half
    h2.mgn-top-0 My Own Recipes
    table.full-table(cellpadding="0", cellspacing="0", data-ng-show="dashboard.usersOwnRecipes.length")
      thead
        tr
          th Name
          th.med-hide Prep Time
          th.med-hide Cook Time
          th.med-hide Servings
      tbody
        tr(data-ng-repeat="recipe in dashboard.usersOwnRecipes")
          td.title
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-bind="recipe.name")
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.prepTime")
              strong(data-ng-bind="recipe.prepTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.cookTime")
              strong(data-ng-bind="recipe.cookTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.servings")
              strong(data-ng-bind="recipe.servings")
              span Servings
    .message.subtle.center(data-ng-hide="dashboard.usersOwnRecipes.length")
      span.block You have not added any of your own recipes yet.
      a.btn.btn-subtle.mgn-top-16.mgn-btm-0(data-ui-sref="recipes.create") Add One Now
  .col.half
    h2.mgn-top-0 My Added Recipes
      em.text-muted.text-small.mgn-left-16.med-hide (from other sources)
    table.full-table(cellpadding="0", cellspacing="0", data-ng-show="dashboard.userAddedRecipes.length")
      thead
        tr
          th Name
          th.med-hide Prep Time
          th.med-hide Cook Time
          th.med-hide Servings
      tbody
        tr(data-ng-repeat="recipe in dashboard.userAddedRecipes")
          td.title
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-bind="recipe.name")
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.prepTime")
              strong(data-ng-bind="recipe.prepTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.cookTime")
              strong(data-ng-bind="recipe.cookTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.servings")
              strong(data-ng-bind="recipe.servings")
              span Servings
    .message.subtle.center(data-ng-hide="dashboard.userAddedRecipes.length")
      span.block You have not added any recipes from other sources yet.
      a.btn.btn-subtle.mgn-top-16.mgn-btm-0(data-ui-sref="recipes.create") Add One Now