.action-items
  a.btn.mgn-right-16(data-ui-sref="recipes.create") Create New Recipe
h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
h1(data-ng-bind="dashboard.title")
div(data-ng-if="dashboard.user.fullName") 
  p Welcome, 
    span(data-ng-bind="dashboard.user.fullName")
    | !
.columns
  .col.half
    h2.mgn-top-0 My Own Recipes
    table.full-table(cellpadding="0", cellspacing="0")
      thead
        tr
          th Name
          th.med-hide Prep Time
          th.med-hide Cook Time
          th.med-hide Servings
      tbody
        tr(data-ng-repeat="recipe in dashboard.usersOwnRecipes")
          td.title
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-bind="recipe.name")
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.prepTime")
              strong(data-ng-bind="recipe.prepTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.cookTime")
              strong(data-ng-bind="recipe.cookTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.servings")
              strong(data-ng-bind="recipe.servings")
              span Servings
  .col.half
    h2.mgn-top-0 My Added Recipes
      em.text-muted.text-small.mgn-left-16.med-hide (from other sources)
    table.full-table(cellpadding="0", cellspacing="0")
      thead
        tr
          th Name
          th.med-hide Prep Time
          th.med-hide Cook Time
          th.med-hide Servings
      tbody
        tr(data-ng-repeat="recipe in dashboard.userAddedRecipes")
          td.title
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-bind="recipe.name")
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.prepTime")
              strong(data-ng-bind="recipe.prepTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.cookTime")
              strong(data-ng-bind="recipe.cookTime")
              span Minutes
          td.med-hide
            a(data-ui-sref="recipes.view({categoryKey: recipe.categoryKey, recipeName: recipe.key})", data-ng-if="recipe.servings")
              strong(data-ng-bind="recipe.servings")
              span Servings