.splash
  .wrapper
    .logo
      img(src="/img/logo-white.png", alt="Dinner Debate")
    a.btn(data-ui-sref="posts") View All Posts
    a.btn(data-ng-click="home.toggleLogin()", data-ng-hide="home.viewLogin") Login
    .login-form(sp-login-form, data-ng-show="home.viewLogin")