.hero.feature.columns
  .col.half
    h1 What's for dinner tonight?
    p Let us figure that out for you so you can focus on other things, like actually having time to eat dinner with your family.
    .columns
      .col.half
        a.btn(data-ui-sref="meals") View Tonight's Recipe
      .col.half
        a.btn(data-ui-sref="meals") View Tonight's Meal
  .col.half
    img(src="http://res.cloudinary.com/hesjwyhax/image/upload/a_exif,c_fill/v1457060633/87888/DSC_1317-ribbon-meatloaf-sm.jpg", alt="tonight's main dish")

