.splash
  .banner
    .wrapper
      .logo
        img(src="/img/logo.png", alt="Dinner Debate")
  .wrapper
    a.btn(data-ui-sref="recipes") View All Recipes
    .col.half(data-if-not-user)
      a.btn(data-ng-click="home.toggleLogin()", data-ng-hide="home.viewLogin") Login
    .col.half(data-if-not-user)
      a.btn(data-ui-sref="register", data-ng-hide="home.viewLogin") Register
    .login-form(sp-login-form, data-ng-show="home.viewLogin")
    div(data-if-user)
     a.btn.clear(data-ui-sref="dashboard", data-ng-hide="home.viewLogin") dashboard