h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="recipes") recipes
  span  &raquo; 
  a(data-ui-sref="recipes.categories({categoryName: editrecipe.recipeDetail.categoryKey})", data-ng-bind="editrecipe.recipeDetail.category | lowercase")
  span  &raquo; 
  a(data-ui-sref="recipes.view({categoryKey: editrecipe.recipeDetail.categoryKey, recipeName: editrecipe.recipeDetail.key})", data-ng-bind="editrecipe.recipeDetail.name | lowercase")
  span  &raquo; 
h1 Edit
label.helper-text.error.error-msg.inline(data-ng-message="updateRecipeForm.$error", data-ng-show="updateRecipeForm.$touched") Please fill in all required fields.
form(name="updateRecipeForm", novalidate)
  label Title:
    em.helper-text.required(data-ng-hide="updateRecipeForm.title.$touched && updateRecipeForm.title.$invalid")  Required 
    strong.helper-text.error.error-msg(data-ng-message="updateRecipeForm.title.$error", data-ng-show="updateRecipeForm.title.$touched && updateRecipeForm.title.$invalid") Please add a recipe title.
  input(type="text", name="title", value="editrecipe.recipeDetail.name", data-ng-model="editrecipe.name", data-ng-blur="editrecipe.createKey()", required)
  label Category:
    em.helper-text.required(data-ng-hide="updateRecipeForm.categories.$touched && updateRecipeForm.categories.$invalid")  Required 
    strong.helper-text.error.error-msg(data-ng-message="updateRecipeForm.categories.$error", data-ng-show="updateRecipeForm.categories.$touched && updateRecipeForm.categories.$invalid") Please select a recipe category.
  select(name="categories", data-ng-model="editrecipe.category", data-ng-change="editrecipe.createCategoryKey()", required)
    option(data-ng-repeat="option in editrecipe.categoryOptions", value="{{option}}", data-ng-bind="option")
label.recipe-url Recipe URL: 
  span(data-ng-show="(editrecipe.keyIsAvailable && editrecipe.showURLStatus) || editrecipe.initialKeyStatus")
    span.text-muted(data-ng-bind="editrecipe.urlBase")
    span.text-muted /recipes/view/
    span.text-muted(data-ng-bind="editrecipe.categoryKey")
    span.text-muted /
    span.text-muted(data-ng-bind="editrecipe.key")
  span.error(data-ng-show="!editrecipe.keyIsAvailable && editrecipe.completedKeys && editrecipe.showURLStatus") This url is not available because another recipe has the same category and title. Please update the title of your recipe or change its category.
label Description:
textarea(value="editrecipe.recipeDetail.description", data-ng-model="editrecipe.description")
label Date:
p(data-ng-bind="editrecipe.recipeDetail.date | date:'MM/dd/yyyy'")
label.mgn-btm-16 Added By: 
  strong(data-ng-bind="editrecipe.addedBy.fullName")
label.mgn-btm-16
  input(type="checkbox", data-ng-model="editrecipe.recipeOwnership")
  | This is not my recipe
div(data-ng-show="editrecipe.recipeOwnership")
  label Source Name: 
    em.helper-text.text-muted (Person or Company/Website Name)
  input(type="text", value="editrecipe.recipeDetail.source", data-ng-model="editrecipe.source")
  label Source URL: 
    em.helper-text.text-muted (if applicable)
  input(type="text", value="editrecipe.recipeDetail.sourceURL", data-ng-model="editrecipe.sourceURL")
hr
.columns
  .col.thirds
    label Prep Time:
      span.mgn-left-8.helper-text.text-muted (in&nbsp;minutes)
    input(type="text", value="editrecipe.recipeDetail.prepTime", data-ng-model="editrecipe.prepTime")
  .col.thirds
    label Cook Time:
      span.mgn-left-8.helper-text.text-muted (in&nbsp;minutes)
    input(type="text", value="editrecipe.recipeDetail.cookTime", data-ng-model="editrecipe.cookTime")
  .col.thirds
    label.clear Number of Servings:
    input(type="text", value="editrecipe.recipeDetail.servings", data-ng-model="editrecipe.servings")
hr
label.mgn-top-16
  input(type="checkbox", data-ng-model="editrecipe.multipleLists")
  | This recipe has multiple sets of ingredients
.columns.clear
  .col.half.mgn-top-16(data-ng-repeat="ingredientSet in editrecipe.ingredientSets")
    div(data-ng-show="editrecipe.multipleLists")
      label Ingredients List Title: 
        span.text-muted.helper-text.mgn-left-8 (ex. "Marinade" or "Sauce")
      input.mgn-btm-0.inline(type="text", placeholder="Ingredient List Title", data-ng-model="ingredientSet.title")
      h2.mgn-top-16(data-ng-show="ingredientSet.title", data-ng-bind="ingredientSet.title + ':'")
    h2.mgn-top-16(data-ng-hide="ingredientSet.title") Ingredients:
    ul.ingredients.list
      li(data-ng-repeat="ingredient in ingredientSet.list")
        span.mgn-right-16(data-ng-bind="ingredient", data-ng-hide="updating")
        form(data-ng-submit="editrecipe.editIngredient($index, ingredient, $parent.$index)", data-ng-show="updating")
          input.inline.pull-left(type="text", data-ng-model="ingredient")
          input.btn.inline.mgn-left-16(type="submit", value="Update")
          a.btn.btn-subtle.inline.mgn-left-16(data-ng-click="updating = false")
            i.icon.icon-cross.mgn-right-8.helper-text
            | Cancel
        a(data-ng-click="updating = true").helper-text.mgn-right-8.tooltip
          i.icon.icon-reverse.subtle.icon-pencil2
          span Edit
        a(data-ng-click="editrecipe.removeIngredient($index, $parent.$index)").helper-text.mgn-right-8.tooltip
          i.icon.icon-reverse.subtle.icon-cross
          span Remove
        a(data-ng-click="editrecipe.reorderIngredient('up', $index, $parent.$index)").helper-text.mgn-right-8.tooltip
          i.icon.icon-reverse.subtle.icon-arrow-up
          span Move&nbsp;Up
        a(data-ng-click="editrecipe.reorderIngredient('down', $index, $parent.$index)").helper-text.tooltip
          i.icon.icon-reverse.subtle.icon-arrow-down
          span Move&nbsp;Down
    form(data-ng-submit="editrecipe.addIngredient($index)")
      input.inline.pull-left.mgn-right-16(type="text", placeholder="New Ingredient", data-ng-model="editrecipe.newIngredient[$index]", data-ng-list="\n", data-ng-trim="false", data-ng-hide="multipleIngredients")
      textarea(placeholder="New Ingredient(s)", data-ng-model="editrecipe.newIngredient[$index]", data-ng-list="\n", data-ng-trim="false", data-ng-show="multipleIngredients")
      input.btn.inline(type="submit", value="+ Add Ingredient")
    hr.mgn-top-0
    a.btn.btn-empty.helper-text.mgn-right-16(data-ng-click="multipleIngredients = true", data-ng-hide="multipleIngredients") Add multiple ingredients at once
    a.btn.btn-subtle.mgn-right-16(data-ng-show="$index == editrecipe.ingredientSets.length - 1", data-ng-click="editrecipe.addIngredientSet()") Add another set of ingredients 
      //- span.text-muted.helper-text (ex. for a marinade or sauce)
    a.btn.btn-subtle(data-ng-show="editrecipe.ingredientSets.length > 1", data-ng-click="editrecipe.removeIngredientSet($index)") Remove this set 
label Directions:
textarea(value="editrecipe.recipeDetail.directions", data-ng-model="editrecipe.directions")
label.clear Notes/Hints:
.message(data-ng-repeat="hint in editrecipe.hints")
  a.close.pull-right.text-small.mgn-left-8(data-ng-click="editrecipe.removeHint($index)")
    i.icon.icon-cross
  span(data-ng-bind="hint")
form(data-ng-submit="editrecipe.addHint()")
  input(type="text", placeholder="New Hint", data-ng-model="editrecipe.newHint")
  input.btn.inline(type="submit", value="+ Add Hint")
//- label Recipe Pairings:
//- input(type="text", value="editrecipe.recipeDetail.pairings", data-ng-model="editrecipe.pairings")
.secondary.pull-right
  img.upload-preview.mgn-btm-16(data-ng-show="editrecipe.image", data-ng-src="{{editrecipe.image}}" alt="{{editrecipe.recipeKey}}")
  p.text-muted(data-ng-hide="editrecipe.image") No image provided.
.main.pull-left
  label Image:
  button.btn.mgn-top-16.mgn-right-16(type="file", ngf-select="editrecipe.uploadFile($file, $invalidFiles)", accept="image/*", ngf-max-width="1100", ngf-max-size="2MB", ngf-pattern="'image/*'", ngf-accept="'image/*'")
    i.icon.icon-image.helper-text.mgn-right-8
    span Upload New Photo
  .upload-status(data-ng-if="editrecipe.errFile.name || editrecipe.errorMsg")
    span.error(data-ng-if="editrecipe.errFile.name") Error uploading 
      strong
        em(data-ng-bind="editrecipe.errFile.name")
      | . Please make sure you are uploading an image file.
    span.error(data-ng-if="editrecipe.errorMsg", data-ng-bind="editrecipe.errorMsg")
  .progress(data-ng-show="editrecipe.f.progress >= 0")
    span(style="width:{{editrecipe.f.progress}}%")
    p.text-muted
      em(data-ng-if="editrecipe.f.name", data-ng-bind="'Uploading ' + editrecipe.f.name")
      strong(data-ng-bind="editrecipe.f.progress + '%'")
  a.btn.btn-subtle(data-ng-show="editrecipe.image", data-ng-click="editrecipe.removeImage()") Remove Image
label.clear Tags:
.pills
  .pill(data-ng-repeat="tag in editrecipe.tags")
    span(data-ng-bind="tag")
    a(data-ng-click="editrecipe.removeTag($index)")
      i.icon.icon-cross.subtle.helper-text.mgn-left-8
form(data-ng-submit="editrecipe.addTag()")
  input.inline.pull-left(type="text", placeholder="New Tag", data-ng-model="editrecipe.newTag")
  input.btn.inline.mgn-left-16(type="submit", value="+ Add")
//- label Feature this item?:
//- input(type="text", value="editrecipe.recipeDetail.featured", data-ng-model="editrecipe.featured")

h2 Similar Items
a.btn.btn-primary.mgn-right-16(data-ng-show="editrecipe.showSimilarBtn", data-ng-click="editrecipe.getSimilarItems()") Add a related item
select.mgn-top-0(data-ng-show="editrecipe.showSimilarItems", data-ng-change="editrecipe.addSimilarItem()", data-ng-options="recipe.name for recipe in editrecipe.recipeList | orderBy: 'name'", data-ng-model="editrecipe.similarItem")
div(data-ng-if="editrecipe.similarItems.length > 0")
  ul.thumbs
    li(data-ng-repeat="similarItem in editrecipe.similarItems").thumb
      i.icon.icon-cross.helper-text(data-ng-click="editrecipe.removeSimilarItem($index)")
      img(data-ng-show="similarItem.thumb", data-ng-src="{{ similarItem.thumb }}")
      span(data-ng-bind="similarItem.name")


span.error(data-ng-show="(!editrecipe.keyIsAvailable && editrecipe.completedKeys && editrecipe.showURLStatus) || (updateRecipeForm.title.$touched && updateRecipeForm.title.$invalid) || (updateRecipeForm.categories.$touched && updateRecipeForm.categories.$invalid)") Please correct any errors above and submit again.
.btn-panel.clear
  //- a.btn(data-ng-click="editrecipe.updateRecipe()") Update Recipe
  input(type="submit", value="Update Recipe", data-ng-disabled="updateRecipeForm.$invalid || !editrecipe.keyIsAvailable || editrecipe.submittingForm", data-ng-click="editrecipe.updateRecipe()").btn.inline
  input(type="submit", value="Delete Recipe", data-ng-click="editrecipe.toggleModal()", data-ng-disabled="editrecipe.submittingForm").btn.btn-subtle.inline
modal(show="editrecipe.modalShown")
  h2.modal-title Are you sure you want to delete this recipe?
  .btn-panel
    a.btn.btn-primary.inline(data-ng-click="editrecipe.deleteRecipe()") Delete Now
    a.btn.btn-subtle.inline(data-ng-click="editrecipe.toggleModal()") Cancel

