h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="recipes") recipes
  span  &raquo; 
  a(data-ui-sref="recipes.categories({categoryName: editrecipe.recipeDetail.categoryKey})", data-ng-bind="editrecipe.recipeDetail.category | lowercase")
  span  &raquo; 
  a(data-ui-sref="recipes.view({categoryKey: editrecipe.recipeDetail.categoryKey, recipeName: editrecipe.recipeDetail.key})", data-ng-bind="editrecipe.recipeDetail.name | lowercase")
  span  &raquo; 
h1 Edit
label.helper-text.error.error-msg.inline(data-ng-message="updateRecipeForm.$error", data-ng-show="updateRecipeForm.$touched") Please fill in all required fields.
form(name="updateRecipeForm", novalidate)
  label Title:
    em.helper-text.required(data-ng-hide="updateRecipeForm.title.$touched && updateRecipeForm.title.$invalid")  Required 
    strong.helper-text.error.error-msg(data-ng-message="updateRecipeForm.title.$error", data-ng-show="updateRecipeForm.title.$touched && updateRecipeForm.title.$invalid") Please add a recipe title.
  input(type="text", name="title", value="editrecipe.recipeDetail.name", data-ng-model="editrecipe.name", data-ng-blur="editrecipe.createKey()", required)
  label Category:
    em.helper-text.required(data-ng-hide="updateRecipeForm.categories.$touched && updateRecipeForm.categories.$invalid")  Required 
    strong.helper-text.error.error-msg(data-ng-message="updateRecipeForm.categories.$error", data-ng-show="updateRecipeForm.categories.$touched && updateRecipeForm.categories.$invalid") Please select a recipe category.
  select(name="categories", data-ng-model="editrecipe.category", data-ng-change="editrecipe.createCategoryKey()", required)
    option(data-ng-repeat="option in editrecipe.categoryOptions", value="{{option}}", data-ng-bind="option")
label.recipe-url Recipe URL: 
  span(data-ng-show="(editrecipe.keyIsAvailable && editrecipe.showURLStatus) || editrecipe.initialKeyStatus")
    span.text-muted(data-ng-bind="editrecipe.urlBase")
    span.text-muted /recipes/view/
    span.text-muted(data-ng-bind="editrecipe.categoryKey")
    span.text-muted /
    span.text-muted(data-ng-bind="editrecipe.key")
  span.error(data-ng-show="!editrecipe.keyIsAvailable && editrecipe.completedKeys && editrecipe.showURLStatus") This url is not available because another recipe has the same category and title. Please update the title of your recipe or change its category.
label Description:
textarea(value="editrecipe.recipeDetail.description", data-ng-model="editrecipe.description")
label Date:
p(data-ng-bind="editrecipe.recipeDetail.date | date:'MM/dd/yyyy'")
label.mgn-btm-16 Added By: 
  strong(data-ng-bind="editrecipe.addedBy.fullName")
label.mgn-btm-16
  input(type="checkbox", data-ng-model="editrecipe.recipeOwnership")
  | This is not my recipe
div(data-ng-show="editrecipe.recipeOwnership")
  label Source Name: 
    em.helper-text.text-muted (Person or Company/Website Name)
  input(type="text", value="editrecipe.recipeDetail.source", data-ng-model="editrecipe.source")
  label Source URL: 
    em.helper-text.text-muted (if applicable)
  input(type="text", value="editrecipe.recipeDetail.sourceURL", data-ng-model="editrecipe.sourceURL")
label Prep Time:
input(type="text", value="editrecipe.recipeDetail.prepTime", data-ng-model="editrecipe.prepTime")
label Cook Time:
input(type="text", value="editrecipe.recipeDetail.cookTime", data-ng-model="editrecipe.cookTime")
label Ingredients:
ul.ingredients
  li(data-ng-repeat="ingredient in editrecipe.ingredients")
    span(data-ng-bind="ingredient", data-ng-hide="updating")
    form(data-ng-submit="editrecipe.editIngredient($index, ingredient)", data-ng-show="updating")
      input.inline.pull-left(type="text", data-ng-model="ingredient")
      input.btn.inline.mgn-left-16(type="submit", value="Update")
    a(data-ng-click="updating = true").helper-text.remove Edit
    a(data-ng-click="editrecipe.removeIngredient($index)").helper-text.remove Remove
    a(data-ng-click="editrecipe.reorderIngredient('up', $index)").helper-text.remove Move Up
    a(data-ng-click="editrecipe.reorderIngredient('down', $index)").helper-text.remove Move Down
form(data-ng-submit="editrecipe.addIngredient()")
  input(type="text", placeholder="New Ingredient", data-ng-model="editrecipe.newIngredient")
  input.btn.inline(type="submit", value="+ Add")
label Directions:
textarea(value="editrecipe.recipeDetail.directions", data-ng-model="editrecipe.directions")
label Recipe Pairings:
input(type="text", value="editrecipe.recipeDetail.pairings", data-ng-model="editrecipe.pairings")
.secondary.pull-right
  img.upload-preview.mgn-btm-16(data-ng-show="editrecipe.image", data-ng-src="{{editrecipe.image}}" alt="{{editrecipe.recipeKey}}")
  p.text-muted(data-ng-hide="editrecipe.image") No image provided.
.main.pull-left
  label Image:
  button.btn.mgn-top-16(type="file", ngf-select="editrecipe.uploadFile($file, $invalidFiles)", accept="image/*", ngf-max-width="1100", ngf-max-size="1MB", ngf-pattern="'image/*'", ngf-accept="'image/*'") Upload New Photo
  .upload-status(data-ng-if="editrecipe.errFile.name || editrecipe.errorMsg")
    span.error(data-ng-if="editrecipe.errFile.name") Error uploading 
      strong
        em(data-ng-bind="editrecipe.errFile.name")
      | . Please make sure you are uploading an image file.
    span.error(data-ng-if="editrecipe.errorMsg", data-ng-bind="editrecipe.errorMsg")
  .progress(data-ng-show="editrecipe.f.progress >= 0")
    span(style="width:{{editrecipe.f.progress}}%")
    p.text-muted
      em(data-ng-if="editrecipe.f.name", data-ng-bind="'Uploading ' + editrecipe.f.name")
      strong(data-ng-bind="editrecipe.f.progress + '%'")
label.clear Number of Servings:
input(type="text", value="editrecipe.recipeDetail.servings", data-ng-model="editrecipe.servings")
label Tags:
.pills
  .pill(data-ng-repeat="tag in editrecipe.tags")
    span(data-ng-bind="tag")
    a(data-ng-click="editrecipe.removeTag($index)").helper-text.remove Remove
form(data-ng-submit="editrecipe.addTag()")
  input.inline.pull-left(type="text", placeholder="New Tag", data-ng-model="editrecipe.newTag")
  input.btn.inline.mgn-left-16(type="submit", value="+ Add")
//- label Feature this item?:
//- input(type="text", value="editrecipe.recipeDetail.featured", data-ng-model="editrecipe.featured")
span.error(data-ng-show="(!editrecipe.keyIsAvailable && editrecipe.completedKeys && editrecipe.showURLStatus) || (updateRecipeForm.title.$touched && updateRecipeForm.title.$invalid) || (updateRecipeForm.categories.$touched && updateRecipeForm.categories.$invalid)") Please correct any errors above and submit again.
.btn-panel
  //- a.btn(data-ng-click="editrecipe.updateRecipe()") Update Recipe
  input(type="submit", value="Update Recipe", data-ng-disabled="updateRecipeForm.$invalid || !editrecipe.keyIsAvailable", data-ng-click="editrecipe.updateRecipe()").btn.inline
  a.btn.btn-subtle(data-ng-click="editrecipe.deleteRecipe()") Delete Recipe