h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="recipes") recipes
  span  &raquo; 
  a(data-ui-sref="recipes.categories({categoryName: editrecipe.categoryKey})", data-ng-bind="editrecipe.category | lowercase")
  span  &raquo; 
  a(data-ui-sref="recipes.view({recipeId: editrecipe.recipeId})", data-ng-bind="editrecipe.recipeDetail.name | lowercase")
  span  &raquo; 
h1 Edit

label Title:
input(type="text", value="editrecipe.recipeDetail.name", data-ng-model="editrecipe.name")
label Category:
select(data-ng-model="editrecipe.category")
  option(data-ng-repeat="option in editrecipe.categoryOptions", value="{{option}}", data-ng-bind="option")
label Description:
textarea(value="editrecipe.recipeDetail.description", data-ng-model="editrecipe.description")
label Key:
input(type="text", value="editrecipe.recipeDetail.key", data-ng-model="editrecipe.key")
label Date:
p(data-ng-bind="editrecipe.recipeDetail.date | date:'MM/dd/yyyy'")
label Source:
input(type="text", value="editrecipe.recipeDetail.source", data-ng-model="editrecipe.source")
label Prep Time:
input(type="text", value="editrecipe.recipeDetail.prepTime", data-ng-model="editrecipe.prepTime")
label Cook Time:
input(type="text", value="editrecipe.recipeDetail.cookTime", data-ng-model="editrecipe.cookTime")
label Ingredients:
ul.ingredients
  li(data-ng-repeat="ingredient in editrecipe.ingredients")
    span(data-ng-bind="ingredient")
    a(data-ng-click="editrecipe.removeIngredient($index)").helper-text.remove Remove
form(data-ng-submit="editrecipe.addIngredient()")
  input(type="text", placeholder="New Ingredient", data-ng-model="editrecipe.newIngredient")
  input.btn.inline(type="submit", value="+ Add")
label Directions:
textarea(value="editrecipe.recipeDetail.directions", data-ng-model="editrecipe.directions")
label Recipe Pairings:
input(type="text", value="editrecipe.recipeDetail.pairings", data-ng-model="editrecipe.pairings")
label Image:
input(type="text", value="editrecipe.recipeDetail.image", data-ng-model="editrecipe.image")
label Number of Servings:
input(type="text", value="editrecipe.recipeDetail.servings", data-ng-model="editrecipe.servings")
label Tags:
.pills
  .pill(data-ng-repeat="tag in editrecipe.tags")
    span(data-ng-bind="tag")
    a(data-ng-click="editrecipe.removeTag($index)").helper-text.remove Remove
form(data-ng-submit="editrecipe.addTag()")
  input.inline.push-left(type="text", placeholder="New Tag", data-ng-model="editrecipe.newTag")
  input.btn.inline.mgn-left-16(type="submit", value="+ Add")
label Feature this item?:
input(type="text", value="editrecipe.recipeDetail.featured", data-ng-model="editrecipe.featured")

.btn-panel
  a.btn(data-ng-click="editrecipe.updateRecipe()") Update Recipe
  a.btn.btn-subtle(data-ng-click="editrecipe.deleteRecipe()") Delete Recipe