h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="recipes") recipes
  span  &raquo; 
h1(data-ng-bind="createrecipe.title")
.form
  form(name="createNewRecipe", novalidate)
    label Title:
      em.helper-text.text-muted  Required
    input(type="text", name="title" placeholder="Title", data-ng-model="createrecipe.recipeTitle", data-ng-blur="createrecipe.createKey()", required)
    label Category:
      em.helper-text.text-muted  Required
    select(name="categories", data-ng-model="createrecipe.recipeCategory", data-ng-change="createrecipe.createCategoryKey()", required)
      option(data-ng-repeat="option in createrecipe.categoryOptions", value="{{option}}", data-ng-bind="option")
  label.recipe-url Recipe URL: 
    span.text-muted(data-ng-bind="createrecipe.urlBase")
    span.text-muted /recipes/view/
    span.text-muted(data-ng-bind="createrecipe.categoryKey")
    span.text-muted /
    span.text-muted(data-ng-bind="createrecipe.recipeKey")
  label Description:
  textarea(placeholder="Recipe Description", name="description", data-ng-model="createrecipe.recipeDescription")
  label Source:
  input(type="text", name="source", placeholder="Source", data-ng-model="createrecipe.recipeSource")
  label Added By:
  input(type="text", name="addedBy", placeholder="Added By", data-ng-model="createrecipe.recipeAddedBy")
  label Prep Time:
  input.inline.push-left(type="text", name="prepTime", placeholder="Prep Time", data-ng-model="createrecipe.recipePrepTime")
  span.mgn-left-16 Minutes
  label Cook Time:
  input.inline.push-left(type="text", name="cookTime", placeholder="Cook Time", data-ng-model="createrecipe.recipeCookTime")
  span.mgn-left-16 Minutes
  label Ingredients:
  ul.ingredients
    li(data-ng-repeat="ingredient in createrecipe.ingredients")
      span(data-ng-bind="ingredient")
      a(data-ng-click="createrecipe.removeIngredient($index)").helper-text.remove Remove
  form(data-ng-submit="createrecipe.addIngredient()")
    input.inline.push-left(type="text", placeholder="New Ingredient", data-ng-model="createrecipe.newIngredient")
    input.btn.inline.mgn-left-16(type="submit", value="+ Add")
  label Directions:
  textarea(placeholder="Recipe Directions", data-ng-model="createrecipe.recipeDirections")
  label Recipe Pairings:
  input(type="text", placeholder="Recipe Pairings", data-ng-model="createrecipe.recipePairings")
  label Upload Image:
  input(type="text", placeholder="Upload Image", data-ng-model="createrecipe.recipeImage")
  label Number of Servings:
  input(type="text", placeholder="Number of Servings", data-ng-model="createrecipe.recipeServings")
  label Tags:
  .pills
    .pill(data-ng-repeat="tag in createrecipe.tags")
      span(data-ng-bind="tag")
      a(data-ng-click="createrecipe.removeTag($index)").helper-text.remove Remove
  form(data-ng-submit="createrecipe.addTag()")
    input.inline.push-left(type="text", placeholder="New Tag", data-ng-model="createrecipe.newTag")
    input.btn.inline.mgn-left-16(type="submit", value="+ Add")
  //- label Feature this item?:
  //- input(type="text", placeholder="Feature this item?", data-ng-model="createrecipe.recipeFeatured")
input(type="submit", value="Create Recipe", data-ng-disabled="createNewRecipe.$invalid", data-ng-click="createrecipe.addRecipe()").btn.inline

//- a.btn(data-ng-click="createrecipe.addRecipe()") Create Recipe