h6.breadcrumb
  a(data-ui-sref="home") home
  span  &raquo; 
  a(data-ui-sref="recipes") recipes
  span  &raquo; 
h1(data-ng-bind="createrecipe.title")
label.helper-text.error.error-msg.inline(data-ng-message="createNewRecipe.$error", data-ng-show="createNewRecipe.$touched") Please fill in all required fields.
.form
  form(name="createNewRecipe", novalidate)
    label Title:
      em.helper-text.required(data-ng-hide="createNewRecipe.title.$touched && createNewRecipe.title.$invalid")  Required 
      strong.helper-text.error.error-msg(data-ng-message="createNewRecipe.title.$error", data-ng-show="createNewRecipe.title.$touched && createNewRecipe.title.$invalid") Please add a recipe title.
    input(type="text", name="title", placeholder="Title", data-ng-model="createrecipe.recipeTitle", data-ng-blur="createrecipe.createKey()", required)
    label Category:
      em.helper-text.required(data-ng-hide="createNewRecipe.categories.$touched && createNewRecipe.categories.$invalid")  Required 
      strong.helper-text.error.error-msg(data-ng-message="createNewRecipe.categories.$error", data-ng-show="createNewRecipe.categories.$touched && createNewRecipe.categories.$invalid") Please select a recipe category.
    select(name="categories", data-ng-model="createrecipe.recipeCategory", data-ng-change="createrecipe.createCategoryKey()", required)
      option(data-ng-repeat="option in createrecipe.categoryOptions", value="{{option}}", data-ng-bind="option")
  label.recipe-url Recipe URL: 
    span(data-ng-show="createrecipe.keyIsAvailable && createrecipe.showURLStatus")
      span.text-muted(data-ng-bind="createrecipe.urlBase")
      span.text-muted /recipes/view/
      span.text-muted(data-ng-bind="createrecipe.categoryKey")
      span.text-muted /
      span.text-muted(data-ng-bind="createrecipe.recipeKey")
    span.error(data-ng-show="!createrecipe.keyIsAvailable && createrecipe.completedKeys && createrecipe.showURLStatus") This url is not available because another recipe has the same category and title. Please update the title of your recipe or change its category.
  label Description:
  textarea(placeholder="Recipe Description", name="description", data-ng-model="createrecipe.recipeDescription")
  label.mgn-btm-16(data-ng-if="createrecipe.user.fullName && createrecipe.user.username") Added By: 
    strong(data-ng-bind="createrecipe.user.fullName")
  label.mgn-btm-16
    input(type="checkbox", data-ng-model="recipeOwnership")
    | This is not my recipe
  div(data-ng-show="recipeOwnership")
    label Source Name: 
      em.helper-text.text-muted (Person or Company/Website Name - if other than yourself)
    input(type="text", name="source", placeholder="Source", data-ng-model="createrecipe.recipeSource")
    label Source URL: 
      em.helper-text.text-muted (if applicable)
    input(type="text", name="sourceURL", placeholder="Source URL", data-ng-model="createrecipe.recipeSourceURL")
  label.clear Prep Time:
  input.inline(type="text", name="prepTime", placeholder="Prep Time", data-ng-model="createrecipe.recipePrepTime")
  span.mgn-left-16 Minutes
  label Cook Time:
  input.inline(type="text", name="cookTime", placeholder="Cook Time", data-ng-model="createrecipe.recipeCookTime")
  span.mgn-left-16 Minutes
  label Ingredients:
  label.mgn-btm-16.mgn-top-16
    input(type="checkbox", data-ng-model="createrecipe.multipleLists")
    | This recipe has multiple sets of ingredients
  div(data-ng-repeat="ingredientSet in createrecipe.ingredientSets")
    div(data-ng-show="createrecipe.multipleLists")
      label Ingredients List Title:
        span.text-muted.helper-text  (ex. "Marinade" or "Sauce")
      input(type="text", placeholder="Ingredient List Title", data-ng-model="ingredientSet.title")
      h2.mgn-top-16(data-ng-if="ingredientSet.title", data-ng-bind="ingredientSet.title")
    ul.ingredients
      li(data-ng-repeat="ingredient in ingredientSet.list")
        span(data-ng-bind="ingredient", data-ng-hide="updating")
        form(data-ng-submit="createrecipe.editIngredient($index, ingredient)", data-ng-show="updating")
          input.inline.pull-left(type="text", data-ng-model="ingredient")
          input.btn.inline.mgn-left-16(type="submit", value="Update")
        a(data-ng-click="updating = true").helper-text.remove Edit
        a(data-ng-click="createrecipe.removeIngredient($index)").helper-text.remove Remove
        a(data-ng-click="createrecipe.reorderIngredient('up', $index)").helper-text.remove Move Up
        a(data-ng-click="createrecipe.reorderIngredient('down', $index)").helper-text.remove Move Down
    form(data-ng-submit="createrecipe.addIngredient($index)")
      input.inline.pull-left(type="text", placeholder="New Ingredient", data-ng-model="createrecipe.newIngredient")
      input.btn.inline.mgn-left-16(type="submit", value="+ Add Ingredient")
    a.btn.btn-subtle(data-ng-click="createrecipe.addIngredientSet()") Add another set of ingredients 
      span.text-muted.helper-text (ex. for a marinade or sauce)
  label Directions:
  textarea(placeholder="Recipe Directions", data-ng-model="createrecipe.recipeDirections")
  label Recipe Pairings:
  input(type="text", placeholder="Recipe Pairings", data-ng-model="createrecipe.recipePairings")
  .secondary.pull-right
    img.upload-preview.mgn-btm-16(data-ng-show="createrecipe.recipeImage", data-ng-src="{{createrecipe.recipeImage}}" alt="{{createrecipe.recipeKey}}")
  .main.pull-left
    label Upload Image:
    button.btn.mgn-top-16(type="file", ngf-select="createrecipe.uploadFile($file, $invalidFiles)", accept="image/*", ngf-max-width="1100", ngf-max-size="1MB", ngf-pattern="'image/*'", ngf-accept="'image/*'") Select File To Upload
    .upload-status(data-ng-if="createrecipe.errFile.name || createrecipe.errorMsg")
      span.error(data-ng-if="createrecipe.errFile.name") Error uploading 
        strong
          em(data-ng-bind="createrecipe.errFile.name")
        | . Please make sure you are uploading an image file.
      //- span.error(data-ng-if="createrecipe.errFile.$error", data-ng-bind="createrecipe.errFile.$error")
      //- span.error(data-ng-if="createrecipe.errFile.$errorParam", data-ng-bind="createrecipe.errFile.$errorParam")
      span.error(data-ng-if="createrecipe.errorMsg", data-ng-bind="createrecipe.errorMsg")
    .progress(data-ng-show="createrecipe.f.progress >= 0")
      span(style="width:{{createrecipe.f.progress}}%")
      p.text-muted
        em(data-ng-if="createrecipe.f.name", data-ng-bind="'Uploading ' + createrecipe.f.name")
        strong(data-ng-bind="createrecipe.f.progress + '%'")
  label.clear Number of Servings:
  input(type="text", placeholder="Number of Servings", data-ng-model="createrecipe.recipeServings")
  label Tags:
  .pills
    .pill(data-ng-repeat="tag in createrecipe.tags")
      span(data-ng-bind="tag")
      a(data-ng-click="createrecipe.removeTag($index)").helper-text.remove Remove
  form(data-ng-submit="createrecipe.addTag()")
    input.inline(type="text", placeholder="New Tag", data-ng-model="createrecipe.newTag")
    input.btn.inline.mgn-left-16(type="submit", value="+ Add")
  //- label Feature this item?:
  //- input(type="text", placeholder="Feature this item?", data-ng-model="createrecipe.recipeFeatured")
input(type="submit", value="Create Recipe", data-ng-disabled="createNewRecipe.$invalid || !createrecipe.keyIsAvailable", data-ng-click="createrecipe.addRecipe()").btn.inline.mgn-right-16.clear
span.error.inline(data-ng-show="(!createrecipe.keyIsAvailable && createrecipe.completedKeys && createrecipe.showURLStatus) || (createNewRecipe.title.$touched && createNewRecipe.title.$invalid) || (createNewRecipe.categories.$touched && createNewRecipe.categories.$invalid)") Please correct any errors above and submit again.


//- a.btn(data-ng-click="createrecipe.addRecipe()") Create Recipe